/* Styles for the elements on the enclosing page (aka index.html */

html,
body {
  font-family: 'Cera Pro';
  margin: 0;
  padding: 0;
  color: var(--rating-popup);
}

h1 {
  color: var(--focus);
  font-size: 2.6rem;
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.column-container {
  display: flex;
  width: 100%;
}
.column {
  flex: 1;
  padding: 1rem;
  background-color: var(--example-box-background);
}

.card {
  background-color: #fff;
  border: 1px solid #888;
  max-width: 552px;
  margin-inline: auto;
  vertical-align: middle;
}

#display-product {
  display: inline-block;
  margin-right: 6px;

  .card {
    width: 180px;
    padding-inline: 0.5rem;

    img {
      display: block;
      margin-inline: auto;
      width: 86%;
      height: auto;
    }
    
    h3 {
      margin-block: 0.6rem 0.2rem;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
      color: #222;
    }

    p {
      margin: 0;
      margin-bottom: 12px;
      color: var(--product-status);
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
}

#rate-experience {
  position: relative;
  display: inline-block;

  .card {
    position: relative;
    padding: 0.75rem;
    box-shadow: 0px 10px 20px -16px #888;
    
    textarea {
      padding: 1rem;
      font-family: 'Cera Pro';
      color: #bbb;
      font-size: 18px;
      width: 94%;
      border-color: #bbb;
      border-radius: 4px;
      box-shadow: inset 0 0 1px #888;

      &:focus-visible {
        outline: none;
        border: 2px solid var(--focus);
      }
    }
    .options-buttons {
      display: block;
      text-align: right;

      input {
        background: none;
        color: var(--button-blue);
        border: 2px solid var(--button-blue);
        border-radius: 3px;
        margin-top: 1rem;
        padding: 0.5rem;
        cursor: pointer;
        width: 80px;
      
        &:nth-child(2){
          background-color: var(--button-inactive);
          color: #fff;
          border: none;
          padding: 10px;
          margin-left: 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  // switch layout to column for iPad & smaller
  .column-container {
    flex-direction: column;
  }
}